*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
body{
    background: #edeef0;
}
.header{
    width: 100%;
    height: 50px;
}
.zagl{
    color:white;
    text-align: center;
    font-size: 30px;
    background: rgb(2,0,36);
    background: linear-gradient(60deg, rgba(2,0,36,1) 0%, rgba(163,70,99,1) 0%, rgba(154,88,44,1) 100%);
    margin-bottom: 30px;
    height: 50px;
}

.b{
    background-color: transparent;
    font-size: 17px;
    color:rgb(0,255,0);
    text-decoration: none;
    cursor: pointer;
}
.c{
    background-color: transparent;
    font-size: 17px;
    color:rgb(255,0,0);
    text-decoration: none;
    cursor: pointer;
}

.a{
    background-color: transparent;
    font-size: 19px;
    color:#fa6800;
    text-decoration: none;
    cursor: pointer;
}
.a:hover{
    font-size:19px;
    color:red;
    cursor: pointer;
}
hr{
    margin-top: 10px;
     margin-bottom: 10px;
}
.parent{
    justify-content: space-around;
    display: flex;
    padding: 10px;
}
.navigator{
    padding: 15px;
    flex: 1;
    background-color: white;
    border-radius: 10px;
    box-shadow:rgb(215, 216, 219) 0px 1px 0px 0px, rgb(227, 228, 232) 0px 0px 0px 1px;
    margin-right: 10px;
}
.p_navigator{
    padding: 15px;
    flex: 5;

    min-height: 650px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow:rgb(215, 216, 219) 0px 1px 0px 0px, rgb(227, 228, 232) 0px 0px 0px 1px;
}
table{
    padding:20px;
	width: 100%;
	margin-bottom: 20px;
    margin-right: 20px;
	border-collapse: collapse; 
}
th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
td {
	border: 1px solid #dddddd;
	padding: 5px;
}
table tr td:first-child, .table tr th:first-child {
	border-left: none;
}
table tr td:last-child, .table tr th:last-child {
	border-right: none;
}
textarea {
    width: 300px;
    resize: vertical;
    padding:15px;
    border-radius:10px;
    border:0;
    box-shadow:rgb(215, 216, 219) 0px 1px 0px 0px, rgb(227, 228, 232) 0px 0px 0px 1px;
    height:150px;
}
.edbx{
    border-radius:10px;
    border:0;
    box-shadow:rgb(215, 216, 219) 0px 1px 0px 0px, rgb(227, 228, 232) 0px 0px 0px 1px;
    height: inherit;
    width: 300px;
    padding: 10px;
}
.btn{
    background: white;
    border-radius:10px;
    border:0;
    box-shadow:rgb(215, 216, 219) 0px 1px 0px 0px, rgb(227, 228, 232) 0px 0px 0px 1px;
    height: inherit;
    width: auto;
    padding: 10px;
    padding-left: 25px;
    padding-right:25px;
}
.btn:hover{
    cursor: pointer;
    background: #edeef0;
}
.ok-haslo{
    border-radius:10px;
    border:0;
    box-shadow:rgb(0, 255, 0) 0px 1px 0px 0px, rgb(0, 255, 0) 0px 0px 0px 1px;
    height: inherit;
    width: 300px;
    padding: 10px;
}
.bad-haslo{
    border-radius:10px;
    border:0;
    box-shadow:rgb(255,0,0) 0px 1px 0px 0px, rgb(255,0,0) 0px 0px 0px 1px;
    height: inherit;
    width: 300px;
    padding: 10px;
}

h1{
    font-weight: normal;
}
h2{
    font-weight: normal;
}


.tabs{
    width: auto;
    margin: 0 auto;
}

.tab{
    flex-flow: row wrap;
    justify-content: space-around;
    width: auto;
    cursor: pointer;
    color: #fa6800;
    border-bottom: 1px solid transparent;
    padding: 20px;

}
.tab:hover{
    background-color: #F5F5F5;
    color:red;
}

.nav{
    display:flex;
    width: auto;
    margin: 0 auto;
}

.tab-act{
    width: auto;
    cursor: pointer;
    color: #fa6800;
    border-bottom: 1px solid #fa6800;
    padding: 20px;
}
.tab-act:hover{
    background-color: #F5F5F5;
    border-bottom: 1px solid red;
    color:red;
}
.cont{
    margin-top: 20px;
    padding: 15px;
}
.content{
    display: none;
}

.content-act{
    display: block;
    text-align: left;
}
.img{
    margin: 20px;
}
p{
    text-indent: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 20px; /* Отступы вокруг картинки */
}
.rightimg{
    float: right; /* Выравнивание по правому краю  */
    margin: 20px; /* Отступы вокруг картинки */
}
.info_header {
    color: white;
    height: 40px;
    background: rgba(1, 1, 1, 0.6);
    font-size: 7px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}
.info_body{
    height: 100%;
    width: 100%;
    background-image: url("img/chor.jpg");
    background-color: rgba(1,1,1, 0.6);
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    background-size: cover;
}
.link{
    width: 10%;
    padding: 15px;
    height: min-content;
}

.info_a{
    font-size: 17px;
    color: white;
    text-decoration: none;
}

.info_a:hover{
    color: lightcoral;
    text-decoration: underline;
}

.underbody{
    height: auto;
    padding: 25px 100px 25px 100px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 1);
}

.center{
    text-align: center;
    height: 90vh;
}

#center-text{
    margin-top: 170px;
    font-size: 53px;
    text-shadow: 2px 2px 14px black, 0 0 1em black;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 13px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.page{
    overflow:  hidden;
    display: flex;
    flex-direction: column;
    //min-height: 100vh;
}
.footer{
    text-align: center;
    padding: 20px;
    color:white;
    background-color: rgba(64,64,64, 0.9);
    margin: 0px;
}
#upbutton {
    background: url("img/up.png") no-repeat;
    height: 40px;
    width: 40px;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 999;
}