.main-template-body{
    height: 100%;
    width: 100%;
    background-image: url("img/chor.jpg");
    background-color: rgba(1,1,1, 0.6);
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    background-size: cover;
}
.main-template-body-center-text{
    text-align: center;
    font-size: 53px;
    text-shadow: 2px 2px 14px black, 0 0 1em black;
    color: white;
}
.footer{
    text-align: center;
    padding: 20px;
    color:white;
    margin: 0px;
    flex: 0 0 auto;
    width: 100%;
}
p{
    font-size: 17px;
    text-indent: 25px;
}
a{
    text-decoration: none;
}
.lib_body{
    padding-top: 70px;
}
a.icon{
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-size: 30px;
}
.card.bg-dark.m-1.mt-5{
    filter: brightness(90%);
    transition: 1s;
}
.card.bg-dark.m-1.mt-5:hover{
    filter: brightness(120%);
}