*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
body{
    background: #edeef0;
}
.header{
    width: 100%;
    height: 50px;
}
.zagl{
    color:white;
    text-align: center;
    font-size: 30px;
    
background: rgb(2,0,36);
background: linear-gradient(60deg, rgba(2,0,36,1) 0%, rgba(163,70,99,1) 0%, rgba(154,88,44,1) 100%);
    margin-bottom: 30px;
    height: 50px;
}

.b{
    background-color: transparent;
    font-size: 17px;
    color:rgb(0,255,0);
    text-decoration: none;
    cursor: pointer;
}
.c{
    background-color: transparent;
    font-size: 17px;
    color:rgb(255,0,0);
    text-decoration: none;
    cursor: pointer;
}

.a{
    background-color: transparent;
    font-size: 19px;
    color:#fa6800;
    text-decoration: none;
    cursor: pointer;
}
.a:hover{
    font-size:19px;
    color:red;
    cursor: pointer;
}
hr{
    margin-top: 10px;
     margin-bottom: 10px;
}
.navigator{

    padding: 20px;
    width:inherit ;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow:rgb(215, 216, 219) 0px 1px 0px 0px, rgb(227, 228, 232) 0px 0px 0px 1px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.p_navigator{
    text-align: center;
    padding: 20px;
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow:rgb(215, 216, 219) 0px 1px 0px 0px, rgb(227, 228, 232) 0px 0px 0px 1px;
    margin-bottom: 50px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.table {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse; 
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;
}
.table tr td:first-child, .table tr th:first-child {
	border-left: none;
}
.table tr td:last-child, .table tr th:last-child {
	border-right: none;
}
.reg_form{
    text-align: center;
    padding: 25px;
    width: 50%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow:rgb(215, 216, 219) 0px 1px 0px 0px, rgb(227, 228, 232) 0px 0px 0px 1px;
    margin-bottom: 50px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
textarea {
  width: 300px;
  resize: vertical;
  padding:15px;
  border-radius:10px;
  border:0;
  box-shadow:rgb(215, 216, 219) 0px 1px 0px 0px, rgb(227, 228, 232) 0px 0px 0px 1px;
  height:150px;
}
.edbx{
  border-radius:10px;
  border:0;
  box-shadow:rgb(215, 216, 219) 0px 1px 0px 0px, rgb(227, 228, 232) 0px 0px 0px 1px;
  height: inherit;
  width: 300px;
  padding: 10px;
}
.btn{
  background: white;  
  border-radius:10px;
  border:0;
  box-shadow:rgb(215, 216, 219) 0px 1px 0px 0px, rgb(227, 228, 232) 0px 0px 0px 1px;
  height: inherit;
  width: inherit;
  padding: 10px;
  padding-left: 25px;
  padding-right:25px;
}
.btn:hover{
  cursor: pointer;
  background: #edeef0;
}
.ok-haslo{
  border-radius:10px;
  border:0;
  box-shadow:rgb(0, 255, 0) 0px 1px 0px 0px, rgb(0, 255, 0) 0px 0px 0px 1px;
  height: inherit;
  width: 300px;
  padding: 10px;

 
}
.bad-haslo{
border-radius:10px;
border:0;
box-shadow:rgb(255,0,0) 0px 1px 0px 0px, rgb(255,0,0) 0px 0px 0px 1px;
height: inherit;
width: 300px;
padding: 10px;
}

h1{
    font-weight: normal;
}
h2{
    font-weight: normal;
}


.tabs{
    width: inherit;
    margin: 0 auto;
}

.tab{
    cursor: pointer;
    color: #fa6800;
    border-bottom: 1px solid transparent;
    padding: 20px;
}
.tab:hover{
    background-color: #F5F5F5;
    color:red;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 0 auto;
}

.tab-act{
    cursor: pointer;
    color: #fa6800;
    border-bottom: 1px solid #fa6800;
    flex: 1;
    padding: 20px;
}
.tab-act:hover{
    background-color: #F5F5F5;
    border-bottom: 1px solid red;
    color:red;
}
.cont{
    margin-top: 20px;
    padding: 15px;
}
.content{
    display: none;
}

.content-act{
    display: block;
    text-align: left;
}



